deb http://ftp.debian.org/debian/ {{ distrib }} main
deb http://security.debian.org/debian-security {{ distrib_deb_sec_upds }} main
deb http://security.debian.org/ {{ distrib_deb_upds }} main
deb http://ftp.debian.org/debian/ {{ distrib_upds }} main